#about-characters {
  display: flex;
  align-items: flex-start;  /* Gör att bilderna är i linje med toppen */
  justify-content: center;
  width: 100%;
  gap: 0;
  position: relative;
}

#zoe, #mio {
  width: 50%;  /* Varje sektion tar upp 50% av bredden */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

#zoe img, #mio img {
  width: 110%;  /* Gör bilderna bredare än deras sektioner, för att skapa överlappning */
  height: auto;
  object-fit: cover;
}

#zoe img {
  max-height: 50vh;
  margin-right: -5%;  /* Skapar en överlappning mellan bilderna */
}

#mio img {
  max-height: 50vh;
  margin-left: -5%;  /* Skapar en överlappning mellan bilderna */
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;  /* Dividern får ta upp en liten bredd (kan justeras efter behov) */
  z-index: 2;  /* Se till att dividern ligger över bilderna */
  position: relative;
}

.divider img {
  height: 50vh;
  width: auto; /* Behåll bildens proportioner */
}

article {
  padding: 1vw 3vw;
}