#section-nav {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  z-index: 100;
  width: 24px;
  padding: 5px 0;
}

#section-nav a {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  transition: all 0.3s;
  margin: 0 auto;
}

#section-nav a:hover {
  transform: scale(1.3);
}

#section-nav {
  pointer-events: auto;
}

#section-nav a:hover {
  background: rgba(255, 255, 255, 0.5) !important;
}

#section-nav a.active {
  background: white !important;
}

#section-nav a:focus {
  outline: none;
}